

<div class="container " style="padding-top: 50px;">
  
    <router-outlet >
     
       
        <div  id="divWeatherMain" style="margin-left: 100px; padding-top:55px;"> 
            <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
                <i class="fa fa-3x fa-sun sun"></i>  
            </div>   
            <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
                <i class="fa fa-3x fa-moon moon"></i>  
            </div>   
            <div class="weatherWidgetRow cloudDiv">
                <i class="fa fa-cloud fa-3x cloud"></i>
            </div>
            <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 10px;">{{WeatherData.temp_celcius}}°</div>
            <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
            <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
            <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
            <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
        
        </div>
                            
        
       
    
    </router-outlet>
    
</div>
