
       <h2 class="hvr-underline-from-center"><span>{{etudiant1.nomE}}  {{etudiant1.prenomE}}</span></h2>
       <div><b>option:</b>  {{etudiant1.option}}</div>
       <div><b>date de naissance:</b>  {{etudiant1.date_naissance}}</div>

       <a href="https://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
       <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
       <a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
