
<div class="container container-fluid " style="  background-color: rgb(243, 243, 243);padding-left: 50px;">

<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-12 col-xl-6 mb-4">
        
<div class="row  rounded h-100 p-4">
  <div class="col  " style="flex-direction:row ;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" class="col col-sm-6 " height="16"  style=" color:#ffc107;" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
      <circle cx="8" cy="8" r="8"/>
    </svg>
    <p class="col col-sm-6" style="color: #ffc107;"> age inferieur a {{criteria}}<br><br>   {{countageundercriteria}} :Student     {{percentundercriteria}}% </p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" class="col col-sm-6 " height="16"  style=" color:#2196f3;" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
      <circle cx="8" cy="8" r="8"/>
    </svg>
    <p class="col col-sm-6" style="color: #2196f3;"> age superieur a {{criteria}}<br><br>{{countageabovecriteria}}:Student      {{percentabovecriteria}}% </p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" class="col col-sm-6 " height="16"  style=" color:#ff5900;" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
      <circle cx="8" cy="8" r="8"/>
    </svg>
    <p class="col col-sm-6" style="color: #ff5900;">nombre des etudiants/{{countageabovecriteria+countageundercriteria}} :Student</p>

  </div>

<div class="col" style="display: flex; justify-content:center">
  <div class="pie"   *ngIf="percentabovecriteria > percentundercriteria || percentabovecriteria==percentundercriteria" [ngStyle]='setMystyle1()' >
    
  </div>

  <div class="pie"  *ngIf="percentundercriteria > percentabovecriteria" [ngStyle]='setMystyle2()' >
   
  </div>
</div>
</div>
      </div>
    
      <div class="col-sm-12 col-xl-6" style="padding: auto;">
          <div class=" rounded h-100 p-4" style="background-color: rgb(243, 243, 243)">
              <h6 class="mb-4">Pie Chart</h6>
              <canvas id="pie-chart" width="885" height="442" style="display: block; box-sizing: border-box; height: 353.6px; width: 708px;"></canvas>
          </div>
      </div>
      
  
</div>

</div>
</div>


