
<body>
  <div class="container">
  <div class="row">
    <div class="col">
      <br><br>
      <h1>detailequipe</h1>
      <form #f="ngForm">
       <div class="form-group col-md-6">
          <label>salle</label>
          <input  type="number" name="salle" [(ngModel)]="detailequipe.salle"
          class="form-control" required minlength="3"
            #n="ngModel">
            <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
              this field is required
            </div>
       </div>
       
        <div class="form-group col-md-6">
          <label>thematique</label>
          <input [(ngModel)]="detailequipe.thematique"
          type="text" name="thematique"
          class="form-control" required #d="ngModel">
          <div class="alert alert-danger" *ngIf="d.invalid && d.touched">
            this field is required
          </div>
        </div>
        <br> 
        <div class="form-group">
          <button [disabled]="f.invalid"  class=" btn btn-outline-primary"style="margin:50px" type="button" style="margin-top:4%"  (click)="addDetailequipes()" >save</button>
      </div>
      </form>
    </div>
    
      </div>
  </div>
    </body>
    
 
 
