<div>
    <button mat-button mat-dialog-close class="ribbon">x</button>
    <h1 mat-dialog-title>{{AddUpdate}} Contrats Form</h1>

</div>

<div mat-dialog-content>


    <form [formGroup]="contratForm" name="suForm" id="supform">


        <mat-form-field appearance="outline" class="col-6 offset-3">
            <mat-label>DateDebutContrat</mat-label>
            <input formControlName="dateDebutContrat" id="name" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="col-6 offset-3">
            <mat-label>DateFinContrat</mat-label>
            <input formControlName="dateFinContrat" id="email" matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="col-6 offset-3">
            <mat-label>Specialite:</mat-label>
            <mat-select formControlName="specialite">
                <mat-option value="IA">
                    IA
                </mat-option>
                <mat-option value="RESEAU">
                    RESEAU
                </mat-option>
                <mat-option value="CLOUD">
                    CLOUD
                </mat-option>
                <mat-option value="SECURITE">
                    SECURITE
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-6 offset-3">
            <mat-label>Archive:</mat-label>
            <!--<input formControlName="archive" matInput placeholder="Placeholder" minlength="3" id="pass">-->
            <mat-select formControlName="archive" [(ngModel)]="selectedValue" name="Archive" id="pass">
                <mat-option *ngFor="let Archive of archives" [value]="Archive.value">
                    {{Archive.viewValue}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline" class="col-6 offset-3">

            <label class="form-label">Montant</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>

                <input type="number" style="text-align: center;" matInput placeholder="Montant" class="form-control"
                    aria-label="Amount (to the nearest dollar)" formControlName="montantContrat" tabindex="-1" />
                <span class="input-group-text">.00</span>

            </div>

        </mat-form-field>



        <div mat-dialog-action *ngIf="AddUpdate === 'Update'">
            <button mat-raised-button color="accent" (click)="drawer.toggle()">+ Student</button>

            <!--    <button mat-raised-button color="accent" (click)="onPress()">+ Student</button>-->
            <mat-drawer #drawer class="example-sidenav" mode="side"
                style="position:absolute ;right: 0px;top:0px; width: 400px; height:100%">

                <app-drawer (move)="onClick($event)">

                </app-drawer>
            </mat-drawer>

            Student id : {{userid2}}

        </div>




        <div mat-dialog-action [align]="'end'">
            <!-- <button mat-raised-button color="warn" mat-dialog-close>Close</button>-->
            <!--  <button style="margin-left: 8px;" mat-raised-button color="primary"
                (click)="addContrat()">{{actionBtn}}</button>-->

            <button style="margin-left: 8px;" mat-raised-button color="primary" id="submit-btn"
                (mouseover)="onmouseOver()">{{actionBtn}}</button>

            <div class="btn-text-left">
                <button type="button" class="btn btn-warning mx-2" (click)="resetControls()">
                    <i class="fa-solid fa-broom pe-2"></i>
                    Reset
                </button>
            </div>


        </div>



    </form>

</div>